<div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                         <h3 class="panel-title "><b>ClickStream Statistics For {{commonCalendarPrev}} In Comparison To {{prevToPrevDate}} For All {{mapRegion}}</b></h3>
                         
                        <ol class="breadcrumb">
                            <li class="active">
                              <!--   <i class="fa fa-dashboard"></i> --><!-- <a href="#/"> ClickStream </a>
 -->                            </li>
                            <li>
                                <i class="fa fa-info"></i> <!--  <a href="#"> -->Details<!-- </a> -->
                            </li>
                        </ol>
                    </div>
                </div>
 </div>
            <!-- /.container-fluid -->