  <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            ClickStream Analytics <small>(CoreMetrics)</small>
                        </h1>
                     <!--    <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#/">ClickStream</a> 
                            </li>
                            <li class="right"> 
                                <b>{{commonCalendar}}</b>
                            </li>
                            
                             <li class="active">
                                <i class="fa fa-bar-chart-o"></i> Order Conversion Rates
                            </li> 
                        </ol> -->
                    </div>

                </div>
                <!-- /.row -->
                  <!-- Siddharth -->
                   <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-2x"></i>
                                         <i id="revenueArrow"  class="fa fa-arrow-up fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right ">
                                        <div id="revenue" class="huge fixNumbers"></div>
                                        <div class="totalIndicator" >Total Revenue $</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#/details">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-2x"></i>
                                         <i id="cartArrow"  class="fa fa-arrow-up fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  id="cartAdandoned" class="huge fixNumbers"></div>
                                        <div class="totalIndicator">Total Cart Abandoned</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#/details">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-2x"></i>
                                         <i id="ordersArrow"  class="fa fa-arrow-up fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="totalOrders" class="huge fixNumbers"></div>
                                        <div class="totalIndicator" >Total Orders</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#/details">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-eye fa-2x"></i>
                                         <i id="pageArrow"  class="fa fa-arrow-up fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="totalPageView" class="huge fixNumbers"></div>
                                        <div class="totalIndicator" >Total Page View</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#/details">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- /.row -->

               


                  <!-- Siddharth Ends -->  
                <!-- Flot Charts -->

                <!-- /.row -->


<div class="row">
<div class="col-lg-12">
<div class="panel panel-primary colorChangeBorder">
    <div class="panel-heading colorChange">
      <h3 class="panel-title"><b>Funnel View Legends</b></h3>
    </div>
    <div class="panel-body">
    <div class="row">
        <div class="col-lg-2">
          <p class="text-primary text-center"><strong>Visited Site 100%</strong> </p>
        </div>
        <div class="col-lg-3">
          <p class="text-primary text-center"><strong>Viewed Products</strong> </p>
        </div>
        <div class="col-lg-3">
          <p class="text-primary text-center"><strong>Placed Products In Carts</strong></p>
        </div>
          <div class="col-lg-3">
          <p class="text-primary text-center"><strong>Placed order</strong></p>
        </div>
    </div>

    

    </div>
</div>
</div> 
</div>
<div class="row">
<div class="col-lg-0"></div>
<div class="col-lg-12">
<div class="panel panel-primary colorChangeBorder">
<div class="panel-heading colorChange">
<h3 class="panel-title colorChange text-right">&nbsp;&nbsp;&nbsp;<b>{{DisplayCalenInfo}}</b></h3>
<!--        <h3 ><b>{{DisplayCalenInfo}}</b></h3> -->
</div>

<div class="panel-body">
<!--  <div id="morris-bar-chart"></div> -->
<canvas id="funnelView2"></canvas>
<div class="text-right">
   <!--  <a href="#/details">View Details <i class="fa fa-arrow-circle-right"></i></a> -->
</div>
</div>
</div>
</div>
</div>
                <!-- /.row -->


                 <div class="row">
                   <div class="col-lg-0"></div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                          <!--   <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i></h3>
                            </div> -->
                            <div class="panel-body">
                                <div class="table-responsive" >  <!-- <div class="table-responsive" > -->
                                    <table class="table table-bordered table-hover success table-striped table-condensed">
                                    <thead>
                                    <tr class="success"  style="table-layout:fixed">
                                    <th class="alignWidth">
                                    <div class="dropdown" id="dropdownMenuUL">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                     {{defaultData}}
                                    <span class="caret"></span>
                                    </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu"  >
                     <li role="presentation" ng-repeat="coun in countryList"><a ng-click="getSelected()"role="menuitem" tabindex="-1" href="#/">{{coun}}</a></li>           
                        </ul>
                                        <i class="fa fa-cog fa-fw"></i>
                                    </div>
                                    <!-- ./Dropdown Ends -->      

                      </th>  <!-- text-center  class for text -->
                        <th class="alignAll visited" ><a href="#/" class="whiteColor"
                        ng-click="sortType = 'totalVisits';sortReverse = !sortReverse" >Visited Site
            <span ng-show="sortType == 'totalVisits' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'totalVisits' && sortReverse" class="fa fa-caret-up"></span>

                    
                        </a></th>

                        <th class="alignAll viewedProduct" ><a   href="#/" class="whiteColor"
                        ng-click="sortType = 'totalViewedProducts';sortReverse = !sortReverse"  >Viewed Products
                        <span ng-show="sortType == 'totalViewedProducts' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'totalViewedProducts' && sortReverse" class="fa fa-caret-up"></span>
                        </a></th>
                        
                        <th class="alignAll placedProduct" ><a  href="#/" class="whiteColor"
                        ng-click="sortType = 'shoppingCartStarted';sortReverse = !sortReverse" >
                        Placed Products In Cart 
                        <span ng-show="sortType == 'shoppingCartStarted' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'shoppingCartStarted' && sortReverse" class="fa fa-caret-up"></span>
                        </a></th>

                        <th class="alignAll" ><a href="#/" class="whiteColor"
                        ng-click="sortType = 'totalOrders';sortReverse = !sortReverse">Placed order
 <span ng-show="sortType == 'totalOrders' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'totalOrders' && sortReverse" class="fa fa-caret-up"></span>                        </a></th>

                      </tr>
                                </thead>
                                <!-- thead Ends ./ -->
                            <tbody id="tableRowData">


                           <tr  ng-if="displayCountry.length==undefined">
                                <td class="alignLeft" >{{displayCountry.country}}</td>
                                <td class="textCenter" >{{displayCountry.totalVisits}}</td>
                                <td class="textCenter" >{{displayCountry.totalViewedProducts}}</td>
                                <td class="textCenter" >{{displayCountry.shoppingCartStarted}}</td>
                                <td class="textCenter" >{{displayCountry.totalOrders}}</td>
                            </tr>

                                <tr ng-if="displayCountry.length!=undefined" ng-repeat="disp in displayCountry| orderBy:sortType:sortReverse">
                                <td class="alignLeft" >{{disp.country}}</td>
                                <td class="textCenter" >{{disp.totalVisits}}</td>
                                <td class="textCenter" >{{disp.totalViewedProducts}}</td>
                                <td class="textCenter" >{{disp.shoppingCartStarted}}</td>
                                <td class="textCenter" >{{disp.totalOrders}}</td>
                            </tr>


                             

                            <!-- 
                             <tr    ng-repeat="count in displayCountry">
                                <td>{{count.country}}</td>
                                <td>{{count.totalVisits}}</td>
                                <td>{{count.totalViewedProducts}}</td>
                                <td>{{count.shoppingCartStarted}}</td>
                                <td>{{count.totalOrders}}</td>
                            </tr>
                             -->
 
                            </tbody>
                        </table>
                        </div>
                                <div class="text-right">
                                   <!--  <a href="#/details">View All Transactions <i class="fa fa-arrow-circle-right"></i></a> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- /.row Ends -->

           


            </div>
            <!-- /.container-fluid -->